@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
}

body {
    background: #F15025;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 35px;
}

.container h4 {
    padding: 8px 0;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

.container .input-box {
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 2px solid #F15025;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
}

.container button {
    /* display: block; */
    width: 100%;
    margin: 20px 0;
    padding: 15px 10px;
    border-radius: 5px;
    border: 0;
    background-color: #F15025;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    outline: none;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.container button:hover {
    color: #fff;
    border: 2px solid #191919;
    background-color: #191919;
    transition: all 0.2s ease-in;
}

#qr-box {
    width: 200px;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    transition: max-height 1s;
}

#qr-box img {
    width: 100%;
    padding: 10px;
}

#qr-box.img-show {
    max-height: 200px;    
    margin: 20px auto 5px;
    padding: 5px;
    border: 2px solid #CED0CE;
}

.error {
    animation: shake 0.1s linear 10;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
    
}